<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- push urdf to param server -->
  <include file="$(find baymax)/launch/robot_description.launch"/>

  <!-- launch empty world -->
  <arg name="world" default="empty"/> 
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <!-- <arg name="gui" default="false"/> -->
  <arg name="gui" default="true"/>
  <!-- <arg name="headless" default="true"/> -->
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">

    <arg name="world_name" value="$(find baymax)/worlds/finals.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- spawn robot -->
  <node 
  	name="urdf_spawner" 
  	pkg="gazebo_ros" 
  	type="spawn_model" 
  	respawn="false" 
  	output="screen" 
  	args="-urdf -param robot_description -model baymax"
  />

  <!-- start rviz -->
   <node type="rviz" name="rviz" pkg="rviz" args="-d $(find baymax)/rviz/baymax.rviz" />

   <!-- start teleop -->
   <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_node" output="screen" launch-prefix="gnome-terminal --command" />

   <!-- ar marker -->
    <include file="$(find ar_track_alvar)/launch/pr2_indiv.launch"/>
    <remap from=""

</launch>


